.InputTile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 5px;
    
    .InputContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

}