.Trader {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

    > div.Content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;

        > main {
            padding: 20px;
            height: 100%;
            
            > div.plotContainer {
                height: 100%;
                width: 100%;
            }
        }
    }
}