.OpenMenuButton {
    $buttonSize: 50px;
    background-color: var(--button);
    border: 1px solid transparent;
    color: var(--text-alt);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: $buttonSize;
    height: $buttonSize;

    svg {
        position: absolute;
        width: 90%;
        height: 90%;
        transition: opacity 0.5s;

        &.Open {
            opacity: 0;
        }

        &.Close {
            opacity: 1;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: var(--button-alt);
        border: 1px solid var(--background-alt);
        color: var(--text);
    }

    &.Active {
        cursor: pointer;

        svg {
            &.Open {
                opacity: 1;
            }

            &.Close {
                opacity: 0;
            }
        }
    }
}