.Checkbox {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 5px;
    

    .Icon {
        $size: 20px;
        opacity: 0;
        width: $size;
        height: $size;

        &.Checked {
            opacity: 1;
        }
    }
}