div.MarketsPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50%;
    overflow-y: auto;

    div.noMarkets {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        > h1 {
            text-align: center;
        }
    }

    &:has(div:only-child){
        grid-auto-rows: 100%;

        &:not(:nth-of-type(2n)):last-of-type {
            grid-column: 1 / -1;
        }
    }

    

    > .chartContainer {
        height: 100%;
        width: 100%;
        // background-color: red;

        &:not(:nth-of-type(2n)):last-of-type {
            grid-column: 1 / -1;
        }

        > .chart {
            width: 100%;
            min-height: 100%;
        }
    }

    .tooltip {
        --padding: 4px;
        transform: translateX(-100%) translateY(20%);
        background-color: var(--background);
        border: 1px solid var(--background-alt);
        border-radius: 5px;

        > header {
            padding: var(--padding);
            border-bottom: 1px solid var(--background-alt);

            > h1 {
                font-size: 16px;
            }
        }

        > main {
            display: flex;
            flex-direction: column;
            padding: var(--padding);
            
            > div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: var(--padding);

                > span {
                    white-space: nowrap;
                }
            }
        }
    }
}