nav.SideBar {
    outline: 1px solid var(--background-alt);
    min-width: 300px;
    height: 100%;
    padding: 10px;
    transition: min-width 0.5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &.Active {
        min-width: 70px;
        max-width: 70px;
        padding: 10px;
    }

    > div.Content {
        flex-grow: 1;
        display: flex;
        height: max-content;
        flex-direction: column;
        justify-content: start;
        gap: 10px;
    }
}